<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All task</title>
    <style>
        .container{
            background-color:darkgray;
            margin: 0px auto;
            align-items: center;
            text-align: center;
            justify-content: center;
            
        }
        .a1{
            margin-bottom: 30px;
        }
   
    </style>
</head>
<body>
    <div class="container">
        <h2>All task</h2>
        <div class="a1">
            <a href="http://localhost:3001/dynamictable">Dynamic table</a>
        </div>
        <div class="a1">
            <a href="http://localhost:3001/kukucube">kukucube</a>
        </div>
        <div class="a1">
            <a href="http://localhost:3001/tictactoe">tictactoe</a>
        </div>
        <div class="a1">
            <a href="http://localhost:3001/event">Event table</a>
        </div>
        <div class="a1">
            <a href="http://localhost:3001/sorting">Sorting</a>
        </div>
        <div class="a1">
            <a href="http://localhost:3001/attendance">Attendance Grid</a>
        </div>
        <div class="a1">
            <a href="http://localhost:3001/result">Exam_master</a>
        </div>
        <div class="a1">
            <a href="http://localhost:3001/dynamicquery">Dynamic Query</a>
        </div>
        <div class="a1">
            <a href="http://localhost:3001/searchtable">Delimeter Search</a>
        </div>
        <div class="a1">
            <a href="http://localhost:3001/ajaxform">ajaxform</a>
        </div>
        <!-- <div class="a1">
            <a href="http://localhost:3001/result"></a>
        </div> -->
    </div>
</body>
</html>