<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Activation link</title>
</head>

<body>
    <h2>Thank you for registration</h2>
    <h3>Your activation link is:-<a href="http://localhost:3001/activate/<%=code%>">Click to activate</a></h3>
    <!-- <h3>Your activation link is:-<a href="http://localhost:3001/setPassword/<%=code%>">Click to activate</a></h3> -->
</body>

</html>